[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/mysql-connector-cpp"]
	path = libs/mysql-connector-cpp
	url = https://github.com/mysql/mysql-connector-cpp.git
	branch = 1.1
